.section-recentlyadded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.article-recentlyadded {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section-title {
  color: white;
  align-self: flex-start;
}
