.super-wrapper {
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.cards-container-flex {
  padding-left: 80px;
  background-color: var(--navydark);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.btn-right-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0 0 4rem 0;
}