.super-wrapper {
  width: 100vw;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
}

.cards-container-flex {
  padding-left: 80px;
  background-color: var(--navydark);
  display: flex;
  height: 200px;
  gap: 3rem;
  max-width: 120rem
};







