.wrapper {
  display: flex;
  flex-direction: column;
}

.main-allgames {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.genre-category {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  gap: 2rem;
  border: 1px solid white;
}

.genre-category button {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 5rem;
}
