.super-wrapper {
  align-items: flex-start;
  justify-content: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main-allgames {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
