.header-home {
  height: 60vh;
  width: 100%;
  margin-bottom: 10rem;
}

.header-img-home {
  background-image: url(../../assets//Header//header-home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-img-allgames {
  background-image: url(../../assets//Header/header-allgames.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-img-recentlyadded {
  background-image: url(../../assets//Header/header-recently-added.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.header-title {
  position: absolute;
<<<<<<< HEAD
  left: 10%;
=======
  left: 13rem;
>>>>>>> 1dd3200f56baff165c754dcf26b456fa43240ce7
  bottom: 10%;
}

.header-title h1 {
  color: white;
  font-size: 4.8rem;
  width: 50%;
<<<<<<< HEAD
  line-height: 5rem;
  text-align:left;
=======
  line-height: 4.5rem;
  font-family: "Oswald", sans-serif;

>>>>>>> 1dd3200f56baff165c754dcf26b456fa43240ce7
}
