:root {
  --flamingo: #ff4654;
  --navydark: #040f14;
  --navylight: #102130;
  --navydesat: #375470;
  --babyblue: #afc7df;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ! ++++++++++ FONTS ++++++++++ */

@font-face {
  font-family: "Ti-Regular";
  src: url(../../assets/Titillium_Web/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "Ti-Light";
  src: url(../../assets/Titillium_Web/TitilliumWeb-Light.ttf);
}
@font-face {
  font-family: "Ti-Bold";
  src: url(../../assets/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
  font-family: "Regular";
  src: url(./assets/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Bold";
  src: url(./assets/Oswald/static/Oswald-Bold.ttf);
}

@font-face {
  font-family: "Light";
  src: url(./assets/Oswald/static/Oswald-Light.ttf);
}

html {
  font-size: 62.5%;
  font-family: "Regular";
  overflow-x: hidden;
  background-color: var(--navydark);
}

img {
  max-width: 100%;
}
